<%- include("../includes/header.ejs", {title:"Skills - result[0].skill_name"}); %>
<h1>Skills</h1>
<ul>
    <li>Skill ID: <%= result[0].skill_id%></li>
    <li>Skill Name: <%= result[0].skill_name%></li>
    <li>Description: <%= result[0].description%></li>
</ul>
<br/>
<a href="/skill/all">Back to Skills</a>
<%- include("../includes/footer.ejs"); %>